/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

@import "tailwindcss";

@custom-variant dark (&:is([data-theme="dark"] *));

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #1e83f7;
  --ifm-color-primary-dark: #0975f1;
  --ifm-color-primary-darker: #086ee3;
  --ifm-color-primary-darkest: #075bbb;
  --ifm-color-primary-light: #3992f8;
  --ifm-color-primary-lighter: #4699f8;
  --ifm-color-primary-lightest: #6eaffa;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #ed79b5;
  --ifm-color-primary-dark: #e959a4;
  --ifm-color-primary-darker: #e74a9b;
  --ifm-color-primary-darkest: #dd1e81;
  --ifm-color-primary-light: #f199c6;
  --ifm-color-primary-lighter: #f3a8cf;
  --ifm-color-primary-lightest: #fad8e9;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.navbar__link {
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
}

.navbar__link svg {
  height: 0.9em;
  width: 0.9em;
}

/*
 * Override Tailwind's [default unstyled lists](https://github.com/tailwindlabs/tailwindcss/blob/v4.1.17/packages/tailwindcss/preflight.css#L193-L201).
 */
.markdown li {
  list-style-type: decimal;
}
