<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ImmichFrame.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ImmichFrame.Properties.Settings>
            <setting name="ImmichServerUrl" serializeAs="String">
                <value>http://192.168.0.101:2283</value>
            </setting>
            <setting name="ApiKey" serializeAs="String">
                <value>21S5wdFdRXcV2s0zpISbH6uQHC5SZjoJT0qweAUpQ</value>
            </setting>
            <setting name="Interval" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="DownloadImages" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowMemories" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RenewImagesDuration" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="ShowClock" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ClockFontSize" serializeAs="String">
                <value>48</value>
            </setting>
            <setting name="ClockFormat" serializeAs="String">
                <value>h:mm tt</value>
            </setting>
            <setting name="ShowPhotoDate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PhotoDateFontSize" serializeAs="String">
                <value>36</value>
            </setting>
            <setting name="PhotoDateFormat" serializeAs="String">
                <value>MM/dd/yyyy</value>
            </setting>
            <setting name="ShowImageDesc" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ImageDescFontSize" serializeAs="String">
                <value>36</value>
            </setting>
            <setting name="ShowWeather" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WeatherFontSize" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="WeatherUnits" serializeAs="String">
                <value>fahrenheit</value>
            </setting>
            <setting name="WeatherLatLong" serializeAs="String">
                <value>41.186660,-81.800830</value>
            </setting>
            <setting name="TransitionDuration" serializeAs="String">
                <value>1</value>
            </setting>
        </ImmichFrame.Properties.Settings>
    </userSettings>
</configuration>