<Settings>
  <ImmichServerUrl>http://YourIpOrUrl:2283</ImmichServerUrl>
  <Email>name@email.com</Email>
  <Password>password</Password>
  <Interval>8</Interval>
  <ShowClock>true</ShowClock>
  <ClockFontSize>48</ClockFontSize>
  <ClockFormat>h:mm tt</ClockFormat>
  <ShowPhotoDate>true</ShowPhotoDate>
  <PhotoDateFontSize>36</PhotoDateFontSize>
  <PhotoDateFormat>MM/dd/yyyy</PhotoDateFormat>
  <ShowWeather>true</ShowWeather>
  <WeatherFontSize>12</WeatherFontSize>
  <WeatherUnits>fahrenheit</WeatherUnits>
  <WeatherLatLong>40.7128,74.0060</WeatherLatLong>
</Settings>
