
<Settings>
  <ImmichServerUrl>http://192.168.0.101:2283</ImmichServerUrl>
  <Email>robrogers@zoominternet.net</Email>
  <Password>Emily11Mia14</Password>
  <Interval>8</Interval>
  <ShowClock>true</ShowClock>
  <ClockFontSize>48</ClockFontSize>
  <ClockFormat>h:mm tt</ClockFormat>
  <ShowPhotoDate>true</ShowPhotoDate>
  <PhotoDateFontSize>36</PhotoDateFontSize>
  <PhotoDateFormat>MM/dd/yyyy</PhotoDateFormat>
  <ShowWeather>true</ShowWeather>
  <WeatherFontSize>12</WeatherFontSize>
  <WeatherUnits>fahrenheit</WeatherUnits>
  <WeatherLatLong>41.13380,-81.85507</WeatherLatLong>
</Settings>
