
<Settings>
  <ImmichServerUrl>http://YourIpOrUrl:2283</ImmichServerUrl>
  <Email>name@email.com</Email>
  <Password>password</Password>
  <Interval>8</Interval>
  <ShowClock>true</ShowClock>
  <ClockFontSize>48</ClockFontSize>
  <ShowPhotoDate>true</ShowPhotoDate>
  <PhotoDateFontSize>36</PhotoDateFontSize>
</Settings>